/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* Parte di navigazione */
.inline-block{
    display: inline-block;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.center{
    align-items: center;

}nav div a, nav div img{
    margin: 0 10px;
}

#container-nav{
    padding: 20px 0;
    border: 2px dashed black;
    width: 100%;
    position: fixed;
}