/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

img{
    display: block;
}

/* Parte di navigazione */
.inline-block{
    display: inline-block;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.center{
    align-items: center;

}nav div a, nav div img{
    margin: 0 10px;
}

#container-nav{
    padding: 20px 0;
    border: 2px dashed black;
    width: 100%;
    position: fixed;
    background-color: white;
}

.bg-blue{
    background-color: rgb(1, 96, 255);
    color: white;
    padding: 10px 20px;
}

/* Parte del titolo */
.bg-azzure{
    background-color: rgb(179,208,231);
    /* height: 600px; */
}

.container-70{
    width: 70%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed black;
}

h1{
    font-size: 70px;
}

.start{
    align-items: flex-start;
}

/* header section div:nth-child(2){
    padding-top: 30px;
} */

.space p{
    margin-top: 30px;
    margin-bottom: 30px;
}

.basis-30{
    flex-basis: 30%;
}

.basis-70{
    flex-basis: 70%;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.position{
    background-size: cover;
    right: -10px;
    top: 30px;
    padding: 0 auto;
}

header i{
    font-size: 50px;
}